img {
    height: 400px;
}
header {
    border: 20px dashed #8a0606;
    background: #8a0606;
}

.headline {
    text-align: center;
    font-size: 40px;
    color: rgb(139, 3, 119);
}

.subheader {
    text-align: center;
    font-size: 20px;
    color: #8a0606;
    border-radius: 15px;
    border: 3px dashed;
    border-color: rgb(3, 247, 97);
}

#panda {
    float: left;
    margin: 30px;
    transform: scaleX(-1);
    cursor: pointer;
    background-color: aquamarine;
}

.intro {
    margin: 30px;
    line-height: 15px;
}

a {
    float: inline-start;
    color: #8db301;
}

p {
    color: rgb(220, 47, 3);
}

.main-text {
    color: #8db301;
    transform: scaleX(1);
}

.text-more {
    color: rgb(21, 118, 2);
    font-size: 20px;
}

.idea {
    color: aquamarine;
    font-style: oblique;
}

body {
    margin: 40px;
}

main {
    margin: 40px;
}
footer {
    text-align: center;
    background:#8a0606;
}
.footer-element {
    color: aqua;
}